.containerContato {
   max-width: 350px;
   margin: 0 auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 2.5rem;
   margin-bottom: 5rem;

}

.containerContato .heroContato {
   display: flex;
   flex-direction: column;

   justify-content: center;
   margin-top: 2.5rem;

}

.containerContato .heroContato h1 {
   font-size: 32px;
   margin-bottom: 1rem;
}

.containerContato .heroContato .content02 {
   display: flex;
   flex-direction: column;
}
.containerContato .heroContato .content01 {
   margin-top: 14px;
}

.containerContato .heroContato  svg{
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.containerContato .heroContato  div a{
   margin-top: 14px;
   text-decoration: none;
   font-size: 16px;
   color: rgb(0, 0, 0);
}
.containerContato .heroContato  div a:hover{
   
   color: rgba(0, 0, 0, 0.534);
}

.containerContato img {
   border-radius: 20px;
   height: 350px;
   width: 300px;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

@media screen and (min-width: 700px) {
   .containerContato {
      margin-top: 6rem;
      max-width: 1200px;
      flex-direction: row;
      justify-content: center;
      align-items: start;
   }

   .containerContato .heroContato {
      margin-left: 4rem;
   }

   .containerContato img {
      border-radius: 20px;
      height: 350px;
      width: 300px;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 0.5rem;
   }
}
