:root {
  --primary: #12cc21;
}

.ancora {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.btn {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}
.btn svg {
  width: 25px;
  height: 25px;
  margin-right: 7px;
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: #F00406;
  color: #fff;
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}
